Flask==2.3.2
Flask-SQLAlchemy
Flask-Bcrypt
Flask-Login
Flask-JWT-Extended==4.5.3
psycopg2-binary==2.9.9
google-cloud-secret-manager
google-api-core
gunicorn
setuptools
Flask-Cors==3.0.3
WeasyPrint==60.2
pydyf==0.10.0
openpyxl==3.1.2
google-cloud-storage